<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>My First Angular App</title>
    <script type="text/javascript" src="angular.min.js"></script>
    	<script>	
    		var MyModule = angular.module("MyApplication",[]);

    		MyModule.controller("MyController",function($scope){
    			
    			var details = [
	    				{"Name":"ABC","Address":"Mumbai","SID":"123","SUB":[{"ABC":"a"},{"ABC":"b"},{"ABC":"c"}]},
	    				{"Name":"DEF","Address":"Bengaluru","SID":"456"},
	    				{"Name":"GHI","Address":"Hyd","SID":"789"}
    				];
    				$scope.content=details;

    				$scope.IsAddNew = true;

    				$scope.addNew = function(){
    					$scope.IsAddNew = true;
    				}


    			$scope.AddNewController = function(){

    			$scope.addDetails = function(){
    				$scope.content.push(angular.copy($scope.E));
    				$scope.E=null;
	    			}
	    		}

    			$scope.cancel = function(){
    					$scope.$parent.IsAddNew = false;
    			}

    			
    		}); 
    	</script>
</head>
<body>
	<div ng-app="MyApplication" ng-controller="MyController">
		<div ng-show="IsAddNew" ng-controller="AddNewController">	
			<input placeholder="Name" type="text" name="Name" ng-model="E.Name"/><br>
			<input placeholder="Address" type="text" name="Address" ng-model="E.Address"/><br>
			<input placeholder="SID" type="text" name="SID" ng-model="E.SID"/><br>	
			<input type="button" name="button" ng-click="addDetails()" value="SAVE"/><br>
			<input type="button" name="button"  ng-click="cancel()" value="CANCEL"/><br>
		</div>

		<div ng-show="!IsAddNew">
		<input type="button" name="button"  ng-click="addNew()" value="ADD NEW"/>

			<table border="1px solid black">
			<tr ng-repeat="x in content">
				<td>{{x.Name}}</td>			
				<td>{{x.Address}}</td>
				<td>{{x.SID}}</td>
				<!--td ng-repeat="y in x.SUB">
					{{y.ABC}}
				</td-->
			</tr>
			</table>
		</div>	
			</div>
		</div>
	</div>
</body>
</html>